/* O que é margin e padding? */
/* Margin é o espaço entre o elemento e o elemento pai, 
já o padding é o espaço entre o elemento e o conteúdo do 
elemento. */
/* padding-top, padding-right, padding-bottom, padding-left */
/* margin-top, margin-right, margin-bottom, margin-left */
/* O que é top, right, bottom, left? */
/* São as posições que podemos usar para definir o espaçamento
de um elemento. */
/*left - A margem à esquerda do elemento
right - A margem à direita do elemento
top - A margem acima do elemento
bottom - A margem abaixo do elemento */
/*Content - O conteúdo da caixa, onde texto e imagens aparecem */
/* CSS Grid Layout - Quando tenho uma divisao de linha e coluna*/
body, ul, li,p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}
a{
    text-decoration: none;
    color: white;
}
h1{
    text-align: center;
    margin-top: 100px;

}
img{
    max-width: 100%;
}
.header{
    background: #1d1e20;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.menu{
    display: flex;
}
.menu li{
    margin-left: 10px;
}
.menu li a {
    display: block;
    padding: 10px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}
.flex > div {
    flex: 1 1 200px;
    margin: 10px;
}