/* O que é margin e padding? */
/* Margin é o espaço entre o elemento e o elemento pai, 
já o padding é o espaço entre o elemento e o conteúdo do 
elemento. */
/* padding-top, padding-right, padding-bottom, padding-left */
/* margin-top, margin-right, margin-bottom, margin-left */
/* O que é top, right, bottom, left? */
/* São as posições que podemos usar para definir o espaçamento
de um elemento. */
/*left - A margem à esquerda do elemento
right - A margem à direita do elemento
top - A margem acima do elemento
bottom - A margem abaixo do elemento */
/*Content - O conteúdo da caixa, onde texto e imagens aparecem */

body, ul, li,p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}
a{
    text-decoration: none;
    color: white;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    flex-wrap: wrap;
    padding: 10px;
}
.menu{
    display: flex;
}
.menu li{
    margin-left: 50px;
}
.menu li a {
    display: block;
    padding: 5px;
    background: tomato;
}
